<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artists</title>
    <link rel="stylesheet" href="stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>
<body>
    <%- include('./partials/header') %>

    <!-- <h1>Select an artist</h1> -->
    <div class="main__container main__container__artists">

    <div class="artists">
    </div>

    <!-- <button><a href="/">Home</a></button> -->
    </div>
    <%- include('./partials/footer') %>

    <script>
        const fm = <%- JSON.stringify(arr) %>;

    </script>
    <script src="artists.js"></script>
</body>
</html>