<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>newfan</title>
    <script src="https://kit.fontawesome.com/964b4f6dfb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="stylesheets/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap" rel="stylesheet">

</head>
<body>        

    
    <%- include('./partials/header') %>


    <section class="page__1">    
    
        <div class="wrapper">
            <img class="background-image" src="https://images.unsplash.com/photo-1533174072545-7a4b6ad7a6c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="">
            <div class="overlay overlay_1"></div>
        </div>
    
        <div class="index__container">
            <h2 class="index__header">Create a playlist out of your new favourite artist</h2>
            <a class="btn btn__start" href="/search">Get Started</a>
            <div class="arrow__container">
                <i class="arrow fas fa-chevron-down"></i>
            </div>
        </div>   
    
    </section>
        
    
    <div class="footer">
        <div class="overlay overlay_2"></div>


        <div class="footer__container">
            <h3 class="footer__header">What is newfan?</h3>
            <p class="footer__text">
                newfan is a tool for creating spotify playlists based on archived setlists from real shows. <br> <br>
                newfan uses the Setlist.fm API to find a list of songs from an artists setlist. That data is then passed to Spotifys API, which is used to create and populate a playlist onto your account.</p>
            </div>
        
    </div>
    
    <script src="index.js"></script>
</body>
</html>
