<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setlist | newfan</title>
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>
<body>
    <%- include('./partials/header') %>
    <div class="main__container main__container__setlist">

    <h1 class="header__sub header__sub__artist"></h1>
    <h2 class="header__sub header__sub__place"></h2>
    <h2 class="header__sub header__sub__date"></h2>
    <div class="setlist"></div>
    
    <form action="/spotify" method="POST" class="form__create">
        <input class="input" type="hidden" name="setlistNum" value="">
        <button class="btn btn_dark">CREATE PLAYLIST</button>
    </form>

        <!-- <button class="return">return</button> -->
    </div>
    <%- include('./partials/footer') %>

    <script>
        window.onload = function() {

            document.querySelector('.header__sub__artist').innerHTML = localStorage.getItem('artist');
            document.querySelector('.header__sub__place').innerHTML = localStorage.getItem('place');
            document.querySelector('.header__sub__date').innerHTML = localStorage.getItem('date').replace(/-/g,' ');
            document.querySelector('.input').value = localStorage.getItem('setlistNum');

            const gig = JSON.parse(localStorage.getItem('gig'));

            for (let i = 0; i < gig.length; i++) {
                if (gig[i].cover) {
                    document.querySelector('.setlist').innerHTML += `<p class="song-name">${gig[i].name} (Cover) .${i+1}</p>`;
                } else {
                    document.querySelector('.setlist').innerHTML += `<p class="song-name">${gig[i].name} .${i+1}</p>`;  
                }
            }
        }
        
    </script>
</body>
</html>