body {
    overflow: overlay;
    overflow-x: hidden;
}

.page__1 {
    position: relative;
}

.wrapper {
    position: relative;
    display: inline-block;
    height: 100%;
    z-index: -1;
    filter: brightness(1.5);

}

.background-image {
    position: relative;
    top: 0;
    min-width: 100vw;
    z-index: -2;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    min-width: 100vw;
    height: 100%;
}

.overlay_1 {
    background: linear-gradient(180deg, #130f3050 0%, #130f30ff 100%);
    z-index: -1;
}

.index__container {
    margin: 80px auto 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 1100px;
    max-width: 100vw;
    z-index: 1;
}

.index__header {
    font-family: 'Poppins';
    font-size: 5rem;
    font-weight: 300;
    text-align: center;
    padding-top: 160px;
}



.btn__start {background: linear-gradient(to right, #FC354C 0%, #0ABFBC  51%, #FC354C  100%)}
.btn__start {
   margin: 0 auto;
   width: fit-content;
   margin-top: 50px;
   padding: 20px 40px;
   transition: 0.5s;
   background-size: 200% auto;
   border-radius: 50px;
 }
 .btn__start {
     color: #fff;
     text-decoration: none;
     font-size: 1rem;
     font-weight: 500;
     display: block;
 }
 .btn__start:hover {
   background-position: right center;
   text-decoration: none;
 }

 .arrow__container {
    display: flex;
    justify-content: center;
 }
 .arrow {
    margin-top: 300px;
     font-size: 2rem;
}
 .arrow:hover {
     cursor: pointer;
 }




 .footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: url('https://images.unsplash.com/photo-1453090927415-5f45085b65c0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1448&q=80');
    background-size: cover;
    filter: brightness(1.5);
    height: 100vh;
    width: 100vw;
 }

 .overlay_2 {
     z-index: 1;
     background: #130f309f;
 }
 .overlay_2::before {
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    z-index:-1;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, #130f30ff 10%, #130f3000 100%);
 }

 .footer__container {
     width: 50%;
     height: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     z-index: 2;
 }

 .footer__header {
    font-size: 2rem;
    margin-top: 30%;
 }

 .footer__text {
     margin-top: 50px;
     max-width: 70%;
     text-align: justify;
     font-size: 1.2rem;
     line-height: 2.5rem;
 }


 @media (max-width: 1100px) {
    .index__container {
        width: 60%;
        padding: 0 1rem;
    }
    .index__header {
        font-size: 2.5rem;
        /* width: 70%; */
    }
    .footer__header {
        font-size: 1.5rem;
    }
    .footer__text {
        font-size: 1rem;
        line-height: 2rem;
    }
}

@media (max-width: 1000px) {
    .footer {
        justify-content: center;
    }
    .footer__container{
        width: fit-content;
    }
    .footer__header {
        margin-top: 10%;
    }
    .footer__text {
        max-width: 80vw;
    }
    .wrapper, .footer {
        filter: none;
    }
}