html {
    /* overflow-x: hidden; */
    overflow-y: scroll;
}

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.btn {
    cursor: pointer;
    border: none;
}

.navbar {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    height: 80px;
    max-width: 100vw;
    padding: 0;
    margin: 0;
    z-index: 2;
}

.newfan-logo {
    font-size: 24px;
    font-weight: 800;
    color: #fff;
    text-decoration: none;
    padding: 0.1rem 0.4rem;
    background: #FC354C;
}

footer {
    height: 80px;
}

.header__sub {
    margin-top: 10px;
}

.navbar__container {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 1140px;
}



.spotify-logo {
    fill: #fff;
    height: 24px;
    display: flex;
    align-items: center;
}

.main__container {
    width: 950px;
    max-width: 100vw;
    margin: 80px auto 0;
}






/* search page */
.input__artist {
    margin-top: 5rem;
    border: none;
    width: 100%;
    color: #fff;
    background: transparent;
    font-size: 7rem;
    font-weight: 500;
}
.input__artist {
    outline: none;
}




/* artist list page */
.artists {
    margin-top: 6vh;
    width: 100%;
}
.artist button {
    font-size: 7rem;
    color: #777;
    background: transparent;
    border: none;
    text-align: left;
    font-weight: 500;
}

.artist button:hover {
    color: #fff;
}



/* gig list page */
.gigs {
    margin-top: 10vh;
    width: 100%;
}
.set__btn {
    font-size: 2.5rem;
    color: #777;
    background: transparent;
    border: none;
    margin-bottom: 8vh;
    text-align: left;
}
.set__btn:hover {
    color: #fff;
}



/* setlist page */
.header__sub__artist {
    margin-top: 1.2rem;
}
.setlist {
    margin-top: 5rem;
}

.song-name {
    margin-top: 10px;
    text-align: right;
}

.form__create {
    display: flex;
    justify-content: center;
}

.btn_dark {
    width: 254px;
    height: 48px;
    border-radius: 25px;
    color: #000;
    background-color: #1db954;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.12rem;
    margin-top: 5rem;
    font-family: 'Montserrat', sans-serif;
}

.btn_dark:hover {
    background-color: #fff
}




/* end page */
.main__container__end {
    position: absolute;
    top: 0;right: 0;bottom: 0;left: 0;
    padding: 0 1rem;
    margin: auto;
    height: max-content;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.message {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}
.btn__href {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

@media (max-width: 1140px) {
    .navbar {
        width: 85%;
    }
    .main__container__search {
        padding-left: 1.5rem;
    }
    .main__container__artists {
        padding-left: 6rem;
    }
    .main__container__gigs {
        padding: 0 3rem;
    }

    .input__artist {
        font-size: 3rem;
    }
    .artist button {
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    .set button {
        font-size: 3rem;
    }
}

@media (max-width: 1000px) {
    .set button {
        font-size: 2.5rem;
    }
    .main__container__setlist {
        padding: 0 2rem;
    }
}

@media (max-width: 800px) {
    .main__container__artists {
        padding-left: 5rem;
    }
    .artist button {
        font-size: 2.5rem;
    }
    .set button {
        font-size: 2rem;
    }
}

@media (max-width: 450px) {
    .main__container__artists {
        padding-left: 1rem;
    }
    .artist button {
        font-size: 1.5rem;
    }
    .main__container__gigs {
        padding: 0 1.5rem;
    }
    .set button {
        font-size: 1.5rem;
    }
    .message {
        font-size: 1.5rem;
    }
}